@import 'tools/colors';

$animationTime: 150ms;

.icon {
	width: 50px;
	height: 50px;

	fill: $black;
	opacity: 1;

	transform-origin: 0% 0%;
	transform: rotate(0deg) scale(100%);
}

.icon {
	&.hover {
		animation: dash $animationTime linear forwards;

		@keyframes dash {
			from {
				fill: $black;
				transform: rotate(0deg) scale(100%);
			}
			to {
				fill: $white;
				transform: rotate(5deg) scale(1.1);
			}
		}
	}
	&.default {
		transform-origin: 0% 0%;
		transform: rotate(0deg) scale(100%);
	}
}
