@import 'tools/colors';

$animationTime: 150ms;

.icon {
	width: 50px;
	height: 50px;

	fill: $black;
    stroke:$black;

	opacity: 1;

	transform-origin: 0% 0%;
	transform: rotate(0deg) scale(1);
}

.icon {
	&.hover {
		animation: dash $animationTime linear forwards;

		@keyframes dash {
			from {
				fill: $black;
                stroke:$black;
                transform:scale(1) translate(0, 0);
			}
			to {
				fill: $white;
                stroke:$white;
                transform:scale(1.2) translate(-5%,-5%);
			}
		}
        /*transform:scale(1.2) translate(-5%,-5%);
        fill:$white;
        stroke:$white;*/
	}
	&.default {
		transform-origin: 0% 0%;
		transform: rotate(0deg) scale(1);
	}
}
